.top {
  background: url("../images/background-top.webp") no-repeat;
  background-position: top;
  background-size: cover;

  display: flex;
  justify-content: center;
}

.top__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-left: calc(100px + (700 - 100) * var(--formula));
  width: calc(200px + (var(--width-text) - 200) * var(--formula));

  padding-bottom: calc(75px + (400 - 75) * var(--formula));
}

@media (max-width: 1000px) {
  .top__inner {
    margin-left: 0;
  }
}

.top__image {
  margin-top: calc(75px + (150 - 75) * var(--formula));
  width: calc(200px + (var(--width-text) - 100 - 200) * var(--formula));
  height: 100%;
}

.top__text {
  margin-top: calc(50px + (200 - 50) * var(--formula));
}

.top__button {
  margin-top: calc(25px + (50 - 25) * var(--formula));
}

.products {
  text-align: center;
  background: url("../images/background-product.png") no-repeat;
  background-size: cover;
}

.products-image__wrapper {
  margin-bottom: -10px;
}

.products__title {
  padding-top: calc(30px + (100 - 30) * var(--formula));
}

.products__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px 50px;

  background: url("../images/background-properties.webp") no-repeat;
  background-size: cover;

  padding-top: 150px;
  padding-bottom: 50px;
}

.box__image {
  width: 600px;
  object-fit: contain;
}

.box__description p{
  text-align: left;
  width: 500px;
  padding: 15px 15px;

}

.promo__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: calc(75px + (150 - 75) * var(--formula));
  padding-bottom: calc(75px + (300 - 75) * var(--formula));
}

.promo__text {
  font-size: calc(20px + (30 - 20) * var(--formula));
  padding: 0 calc(25px + (50 - 25) * var(--formula));
  text-align: center;
}

.promo__button {
  margin-top: calc(25px + (50 - 25) * var(--formula));
}

.properties {
  background: url("../images/background-properties.webp") no-repeat;
  background-position: top;
  background-size: cover;
}

.properties__title {
  padding-top: calc(75px + (150 - 75) * var(--formula));
  text-align: center;
}

.properties__inner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  flex-wrap: wrap;
  padding-bottom: calc(75px + (150 - 75) * var(--formula));
}

.properties__description {
  margin-top: calc(25px + (50 - 25) * var(--formula));
}

.properties__text {
  width: calc(220px + (var(--width-text) - 220) * var(--formula));
  text-align: left;
  padding: calc(10px + (25 - 10) * var(--formula))
    calc(15px + (50 - 15) * var(--formula));
}

.stamp {
  background: url("../images/background-stamp.webp") no-repeat;
  background-position: top;
  background-size: cover;
  padding: calc(25px + (50 - 25) * var(--formula)) 0;
}

.stamp__inner {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0 calc(10px + (150 - 10) * var(--formula));
}

.stamp__image {
  width: calc(80px + (150 - 80) * var(--formula));
  height: 100%;
}

.application {
  background: url("../images/background-application.webp") no-repeat;
  background-position: top;
  background-size: cover;
}

.application__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: calc(50px + (300 - 50) * var(--formula));
  padding: calc(50px + (150 - 50) * var(--formula)) 0;

  width: calc(250px + (var(--width-text) - 250) * var(--formula));
}

.application__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(50px + (100 - 50) * var(--formula)) 0;
  padding-top: calc(50px + (100 - 50) * var(--formula));
  margin-left: 50px;
  margin-right: 25px;
}

.application__image {
  width: calc(200px + (500 - 200) * var(--formula));
  height: 100%;
}

.application__list li {
  position: relative;
}

.application__list li:nth-child(1)::before {
  position: absolute;
  content: url("../images/number-1.webp");

  top: 0;
  left: calc((75px + (100 - 75) * var(--formula)) * -1);
}

.application__list li:nth-child(2)::before {
  position: absolute;
  content: url("../images/number-2.webp");

  top: 0;
  left: calc((75px + (100 - 75) * var(--formula)) * -1);
}

.application__list li:nth-child(3)::before {
  position: absolute;
  display: block;
  content: url("../images/number-3.webp");

  top: 0;
  left: calc((75px + (100 - 75) * var(--formula)) * -1);
}

.application__list li:nth-child(4)::before {
  position: absolute;
  content: url("../images/number-4.webp");

  top: 0;
  left: calc((75px + (100 - 75) * var(--formula)) * -1);
}

.about {
  background: url("../images/background-about.webp") no-repeat;
  background-position: top;
  background-size: cover;

  display: flex;
  justify-content: center;
}

.about__inner {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: calc(75px + (150 - 75) * var(--formula));
  padding-bottom: calc(250px + (700 - 250) * var(--formula));

  width: calc(250px + (var(--width-text) - 250) * var(--formula));
}

.about__logo {
  width: calc(200px + (var(--width-text) - 200) * var(--formula));
  height: 100%;
}

.about__text {
  text-align: left;
  padding: 15px 0;
  text-indent: calc(25px + (50 - 25) * var(--formula));
}

.about__inner::after {
  position: absolute;
  content: "";

  background-image: url("../images/crown.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;

  top: 0;

  width: calc(300px + (1000 - 300) * var(--formula));
  height: 100%;
}

.about__inner::before {
  position: absolute;
  content: "";

  background-image: url("../images/signature.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;

  bottom: calc(150px + (500 - 150) * var(--formula));
  left: calc(100px + (350 - 100) * var(--formula));

  width: calc(150px + (500 - 150) * var(--formula));
  height: 100%;
}

.advantages {
  background: url("../images/background.webp") no-repeat;
  background-position: top;
  background-size: cover;
}

.advantages__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 0 calc(75px + (150 - 75) * var(--formula));

  padding-top: calc(75px + (100 - 75) * var(--formula));
  padding-bottom: calc(15px + (50 - 15) * var(--formula));
}

.advantages__text {
  width: calc(200px + (300 - 200) * var(--formula));
  margin: 100px 0;
}

.advantages p {
  position: relative;
}

.advantages p:nth-child(1)::before {
  position: absolute;
  content: url("../images/advantages-1.webp");

  top: calc((150px + (200 - 150) * var(--formula)) * -1);
  left: 0;
  right: 0;
}

.advantages p:nth-child(2)::before {
  position: absolute;
  content: url("../images/advantages-2.webp");

  top: calc((150px + (200 - 150) * var(--formula)) * -1);
  left: 0;
  right: 0;
}

.advantages p:nth-child(3)::before {
  position: absolute;
  content: url("../images/advantages-3.webp");

  top: calc((150px + (200 - 150) * var(--formula)) * -1);
  left: 0;
  right: 0;
}

.make-step {
  background: url("../images/background-make-step.webp") no-repeat;
  background-position: top;
  background-size: cover;
}

.make-step__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-top: calc(150px + (1200 - 150) * var(--formula));
  padding-bottom: calc(0px + (200 - 0) * var(--formula));
}
