:root {
  --formula: ((100vw - 320px) / (1920 - 320));
  --width-product: calc(300px + (500 - 300) * var(--formula));
}

body {
  background: url("../images/background-product.png") repeat;
}

.step:nth-child(1) {
  margin-top: 150px;
}

.step {
  margin-top: 50px;
  margin-bottom: 50px;
}

.step__title {
  position: relative;
  border-radius: 3px;
  background: linear-gradient(to right, #c3b681 0%, #bf9059 100%);
  color: #000000;
  padding: 8px 32px;
  font-weight: bold;
  font-size: 2rem;

  width: fit-content;
  z-index: 0;
}

.step__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  background: linear-gradient(to right, #c4b473 0%, #c08a4d 100%);
  height: 100%;
  width: 0;

  border-radius: 3px;
  transition: 0.5s;
  z-index: -1;
}

.step__title:hover::before {
  width: 100%;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 15px;

  padding-top: 50px;
}

.product__title {
  padding-bottom: 25px;
}

.image__wrapper,
.product__image {
  position: relative;

  width: var(--width-product);
  height: var(--width-product);
  object-fit: contain;

  z-index: 0;
}

/* .image__wrapper {
  position: relative;
  z-index: 0;
} */

.image__wrapper::before {
  position: absolute;
  content: '';
  background: url("../images/fon_item.png") no-repeat;
  background-size: var(--width-product);

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: -1;
}

.product__text {
  text-align: left;
  width: var(--width-product);
}

.product__image_3-1 {
  /* padding-block: 75px; */
  height: 300px;
}
