:root {
  --formula: ((100vw - 320px) / (1920 - 320));
  --inner-margin-x: 0 25px;
  --width-text: 500;
  --width-product: calc(300px + (var(--width-text) - 300) * var(--formula));
  --width-image: calc(300px + (600 - 300) * var(--formula));
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf) format("ttf");
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Roboto-Bold.ttf) format("ttf");
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.uppercase {
  text-transform: uppercase;
}

p,
.text-gradient {
  color: #c3b681;
  background-image: linear-gradient(to right, #c3b681 0%, #bf9059 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  position: relative;
  appearance: none;
  border-radius: 3px;
  background: linear-gradient(to right, #c3b681 0%, #bf9059 100%);
  color: #000000;
  padding: calc(8px + (16 - 8) * var(--formula));
  font-weight: bold;
  font-size: calc(0.5 + (1.5 - 0.5) * var(--formula));

  width: fit-content;
  z-index: 0;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  background: linear-gradient(to right, #c4b473 0%, #c08a4d 100%);
  height: 100%;
  width: 0;

  border-radius: 3px;
  transition: 0.5s;
  z-index: -1;
}

.button:hover:before {
  width: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  background: black;
  font-weight: normal;
  font-family: sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
}

h2 {
  font-size: calc(18px + (32 - 18) * var(--formula));
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 15px calc(15px + (50 - 15) * var(--formula));
  height: calc(75px + (100 - 75) * var(--formula));
  z-index: 4;
}

@media screen and (max-width: 1000px) {
  .menu__list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    overflow: auto;

    visibility: hidden;

    position: fixed;
    top: 0;

    background: url("../images/background.webp");
    width: 100dvw;
    height: 100dvh;

    font-size: 1.5rem;
    padding-top: 60px;

    z-index: 3;
  }
}

#menu__toggle {
  opacity: 0;
  z-index: 5;
}

.menu__burger {
  z-index: 4;
}

.menu__burger,
#menu__toggle {
  position: fixed;
  display: flex;
  align-items: center;

  top: 20px;
  right: 20px;

  width: 30px;
  height: 30px;

  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .menu__burger,
  #menu__toggle {
    display: none;
  }
}

.menu__burger > span,
.menu__burger > span::before,
.menu__burger > span::after {
  position: absolute;
  

  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: linear-gradient(to right, #c3b681 0%, #bf9059 100%);
  transition: 0.5s;
}

.menu__burger > span::before {
  content: "";
  top: -10px;
}

.menu__burger > span::after {
  content: "";
  top: 10px;
}

#menu__toggle:checked ~ .menu__burger > span {
  background: transparent;
}

#menu__toggle:checked ~ .menu__burger > span::before {
  top: 0;
  transform: rotate(-45deg);
}

#menu__toggle:checked ~ .menu__burger > span::after {
  top: 0;
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__list {
  visibility: visible;
}

.menu__item {
  border-bottom: 3px solid transparent;
  padding: .8rem 1rem;
}

.menu__item:hover {
  border-bottom: 3px solid #bf9059;
  transition: 0.1s;
}

.top {
  background: url("../images/background-top.webp") no-repeat;
  background-position: top;
  background-size: cover;

  display: flex;
  justify-content: center;
}

.top__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-left: calc(100px + (700 - 100) * var(--formula));
  width: calc(200px + (var(--width-text) - 200) * var(--formula));

  padding-bottom: calc(75px + (400 - 75) * var(--formula));
}

@media (max-width: 1000px) {
  .top__inner {
    margin-left: 0;
  }
}

.footer {
  background: url("../images/background.webp") no-repeat;
  background-position: top;
  background-size: cover;
}

.footer__inner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 50px calc(25px + (100 - 25) * var(--formula));

  padding-top: 150px;
  padding-bottom: 150px;
}

@media screen and (max-width: 768px) {
  .footer__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.footer__inner h2 {
  padding-bottom: 20px;
}

.footer__image {
  width: calc(250px + (500 - 250) * var(--formula));
  height: 100%;
}

.footer__nav {
  width: calc(200px + (400 - 200) * var(--formula));
}

.footer__contact {
  width: calc(200px + (400 - 200) * var(--formula));
}

.footer__contact p {
  padding-bottom: 10px;
}
